<footer>
    <div class="info">
        <img src="food delivery.svg" alt="delivery Man">

        <div class="devs">
            <span class="dev">
                <p>Daniel Farias</p>

                <a href="https://www.instagram.com/daniel.fariias/" target="_blank"><img src="instagram.svg" alt="">

                </a>
                <a href="https://github.com/DanielFariias" target="_blank"><img src="github.svg" alt="">
                </a>
            </span>
            <span class="dev">
                <p>Anthony Davi</p>
                
                <a href="https://www.instagram.com/sou.eu.anthony/" target="_blank"><img src="instagram.svg" alt="">
                </a>

                <a href="https://github.com/AntDavi" target="_blank"><img src="github.svg" alt="">
                </a>
            </span>
        </div>
    </div>

    <hr>
    <div class="copyright">
        <p> COPYRIGHT © 2021 TODOS OS DIREITOS RESERVADOS</p>
    </div>

</footer>